.loading-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 4096;
  background: rgba(255, 255, 255, .75);
}

.loading-wrapper .ant-spin-text {
  margin-top: 10px;
}